* {
  overflow-x: hidden;
}

body {
  background-color: #fefefe;
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.section-hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.navbar {
  width: 1216px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #c9c9c970;
}

.links-navbar {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.titulo-nome {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #1e1e1e;
}
.link-nav {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1e1e1e;
  text-decoration: none;
}

.botao-head {
  background-color: #219653;
  border-radius: 16px;
  border: none;
  height: 56px;
  width: 126px;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}

.hero-info {
  width: 1216px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  flex-wrap: wrap;
}

.div-img {
  margin: 15px;
}

.img-profile {
  height: 550px;
  width: 550px;
  border-radius: 20px;
  border: 3px solid #219653;
}

.titulo-hero {
  font-family: "Space Grotesk", sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.ponto {
  color: #219653;
}

.text-hero {
  font-family: "Open Sans", sans-serif;
  color: #1e1e1e;
  line-height: 28px;
  font-size: 18px;
}

.botao-hero {
  margin-top: 15px;
  background-color: #219653;
  border-radius: 16px;
  border: none;
  height: 56px;
  width: 248px;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}

.icones-sociais {
  width: 20%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icone-social {
  width: 32px;
  height: 32px;
}

.habilidades-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.titulo-habilidades {
  font-family: "Space Grotesk", sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.cards-habilidades {
  width: 1216px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.card:hover{
  box-shadow: 5px 13px 38px 0px #00000027;
  transition: 800ms;
}


.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-card {
  width: 80px;
  height: 80px;
}

h3.title-card {
  text-align: center;
}

.text-card {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #1e1e1e;
  line-height: 28px;
  font-size: 18px;
  text-align: center;
}

.list-item-card {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.projetos-section {
  width: 100vw;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projetos-primeira-div {
  width: 1216px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projetos {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  padding: 25px;
  justify-content: center;
}

.card-projeto {
  padding: 25px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.card-projeto:hover{
  box-shadow: 5px 13px 38px 0px #00000027;
  transition: 800ms;
}

.project-img {
  height: auto;
  width: 400px;
}

h3.projetct-title {
  text-align: center;
}

.titulo-projetos {
  font-family: "Space Grotesk", sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: left;
}

.project-links {
  width: 80px;
  display: grid;
  grid-template-columns: auto auto;
}

.project-link-icon {
  width: 24px;
  height: 24px;
}
